<div class="row">
  <div>
    <div class="card" *ngIf='product'>
      <div class="card-header">
        {{pageTitle + ': ' + product.code}}
      </div>
      <div class="card-body">
        <h1>Product Detail</h1>
    
        <form [formGroup]="productForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
      
          <div [hidden]="formDir.submitted">
      
            <div class="cross-validation" [class.cross-validation-error]="(productForm.touched || productForm.dirty)">
              <div class="form-group">
      
                <label for="code">Code</label>
                <input id="code" class="form-control"
                      formControlName="code" required >
      
                <div *ngIf="code.pending">Validating...</div>
                <div *ngIf="code.invalid && (code.dirty || code.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="code.errors.required">
                    Code is required.
                  </div>
                  <div *ngIf="code.errors.minlength">
                    Code must be at least 4 characters long.
                  </div>
                  <div *ngIf="code.errors.forbiddenName">
                    Code cannot be Bob.
                  </div>
                  <div *ngIf="code.errors?.uniqueCode">
                    Code is already taken.
                  </div>
                </div>
              </div>
      
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input id="quantity" class="form-control"
                    formControlName="quantity" required >
              </div>
            </div>
      
            <div class="form-group">
              <label for="floor">Select Floor</label>
              <select id="floor" class="form-control"
                  formControlName="floor" required >
                <option *ngFor="let f of floors" [value]="f.id">{{f.name}}</option>
              </select>
      
              <div *ngIf="floor.invalid && floor.touched" class="alert alert-danger">
                <div *ngIf="floor.errors.required">Floor is required.</div>
              </div>
            </div>  
    
            <div class="form-group">
              <label for="section">Select Section</label>
              <select id="section" name="section" class="form-control"
                      required [(ngModel)]="product.section.id" #section="ngModel">
                <option *ngFor="let s of sections" [value]="s.id">{{s.name}}</option>
              </select>
      
              <div *ngIf="section.invalid && section.touched" class="alert alert-danger">
                <div *ngIf="section.errors.required">Section is required.</div>
              </div>
            </div>
          </div>
        </form>
      
        <div class="submitted-message" *ngIf="formDir.submitted">
          <p>You've submitted your product, {{ productForm.value.code }}!</p>
          <button (click)="formDir.resetForm({})">Add new product</button>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-outline-secondary"
                (click)='onBack()'
                style="width:80px">
            <i class="fa fa-chevron-left"></i> Back
        </button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-outline-secondary"
                [disabled]="productForm.invalid"
                style="width:80px">Save
        </button>&nbsp;&nbsp;
        <button type="button" class="btn btn-outline-secondary"
                (click)="formDir.resetForm({})"
                style="width:80px">Reset
        </button>
      </div>
    </div>
  </div>
</div>