<div class="card" *ngIf='product'>
  <div class="card-header">
    {{pageTitle + ': ' + product.code}}
  </div>
  <div class="card-body">
    <h2>{{product.code | uppercase}} Details</h2>
    <div><span>id: </span>{{product.id}}</div>
    <div>
      <label>Code:
        <input [(ngModel)]="product.code" placeholder="code"/>
      </label>
    </div>
    <div>
      <label>Quantity:
        <input id="quantity" name="quantity" class="form-control" required
          [(ngModel)]="product.quantity" #quantity="ngModel" placeholder="quantity"/>
      </label>

      <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
          class="alert alert-danger">

        <div *ngIf="quantity.errors.required">
          Quantity is required.
        </div>
        <div *ngIf="quantity.errors.minlength">
          Name must be at least 4 characters long.
        </div>
        <div *ngIf="quantity.errors.forbiddenName">
          Name cannot be Bob.
        </div>
      </div>
    </div>
    <div>
      <label>Floor:
        <input [(ngModel)]="product.floor" placeholder="floor"/>
      </label>
    </div>
    <div>
      <label>Section:
        <input [(ngModel)]="product.section" placeholder="section"/>
      </label>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-secondary"
            (click)='onBack()'
            style="width:80px">
        <i class="fa fa-chevron-left"></i> Back
    </button>&nbsp;&nbsp;
    <button class="btn btn-outline-secondary"
            (click)='onSave()'
            style="width:80px">Save
    </button>
  </div>
</div>