<div class="row row-no-gutters">
    <div class="col-sm-4">
        <div class="row">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Filters:</label>
                <input type="text" class="form-control" placeholder="" id="inputDefault" [(ngModel)]='productFilter'>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Floors:</label>
                <div *ngFor='let floor of floors'>
                    <a (click)='filterFloor(floor.id)'>
                        {{floor.name}}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Sections:</label>
                <div *ngFor='let section of sections'>
                    <a (click)='filterSection(section.id)'>
                        {{section.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                {{pageTitle}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{filteredProducts?.length}} product(s)</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table"
                        *ngIf='filteredProducts && filteredProducts.length'>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Quantity</th>
                                <th>Location</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let product of filteredProducts'> 
                                <td>{{ product.id }}</td>
                                <td><a [routerLink]="['/products', product.id]">{{ product.code }}</a></td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.floor.id }} / {{ product.section.id }}</td>
                                <td>
                                    <button class="btn btn-outline-secondary"
                                            [routerLink]="['/products/edit/', product.id]"
                                            style="width:80px">Edit
                                        <i class="fa fa-chevron-right"></i> 
                                    </button>
                                </td>
                            </tr>     
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>

