<h2>My Products</h2>

<div>
  <label>Product code:
    <input #productCode />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(productCode.value); productCode.value=''">
    add
  </button>
</div>

<ul class="products">
  <li *ngFor="let product of products">
    <a routerLink="/detail/{{product.id}}">
      <span class="badge">{{product.id}}</span> {{product.code}}
    </a>
    <button class="delete" title="delete product"
      (click)="delete(product)">x</button>
  </li>
</ul>
